---
import { AstroSeo } from '@astrolib/seo';
import {app} from "@/configs/application"
import "@/styles/global.css"

import Navbar from "@/components/shared/Navbar.astro"
import Footer from "@/components/shared/Footer.astro"

const title = Astro.props.title ? `${Astro.props.title} | ${app.title}` : app.title;
const { className, description } = Astro.props;
---

<!doctype html>
<html lang="id" class="bg-base-300">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description ?? app.description}>

		<script is:inline src="/libs/ripples.js"></script>
	</head>
	<body class="[&>*]:w-full [&>*>*:not(div[class*='fslightbox'])]:max-w-4xl [&>*>*]:mx-auto font-display">
		<Navbar />
		<main class={className}>
			<div id="backdrop" class="bg-base-200 min-h-[calc(100vh-4rem)] p-8 rounded-t-4xl flex flex-col relative z-50">
				<div class="flex-1 flex flex-col items-stretch justify-center [&>*]:flex-1">
					<slot />
				</div>
				<Footer />
			</div>
		</main>
	</body>
</html>
