---
import { pb_client } from "../../configs/pocketbase"
const {game} = Astro.props
---

<article class="card card-border bg-base-100 w-full rounded-2xl">
  <figure class="px-6 pt-6">
    <img
      src={pb_client.files.getURL(game, game.screenshots[0])}
      alt="icon"
      class="bg-secondary aspect-video object-center object-cover rounded-xl" />
  </figure>
  <div class="card-body items-stretch gap-4">
    <div class="flex flex-row gap-2">
      <img
        src={pb_client.files.getURL(game, game.icon)}
        alt="icon"
        class="bg-secondary size-12 object-center object-cover rounded-full overflow-hidden" />
      <h2 class="card-title">{game.name}</h2>
    </div>
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-row items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v11.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3a.75.75 0 0 1 .75-.75Zm-9 13.5a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
        </svg>
        {game.downloadCount}
      </div>
      <div class="flex flex-row items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
        </svg>
        {game.downloadCount - 2}
      </div>
    </div>
    <ul class="flex flex-row flex-wrap gap-2 flex-1">
      {game.expand.categories?.map((category: { name: string }) => (
        <li class="badge badge-soft badge-primary badge-sm">{category.name}</li>
      ))}
    </ul>
    <div class="card-actions">
      <a href=`/download?id=${game.id}` class="btn btn-primary btn-sm md-ripples flex-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
          <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v11.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3a.75.75 0 0 1 .75-.75Zm-9 13.5a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
        </svg>
        Unduh
      </a>
    </div>
  </div>
</article>